:host {
    background-color: black;
}

* {
    --primary-color: #0db9f0;
}

webui-habpanel-image-button:hover,*[\@click]:hover {
    background-color: rgb(44, 61, 78);
}

*[\@click]:active {
    background-color: rgb(54, 71, 88);
}

webui-habpanel-value-display,webui-habpanel-image-button,*[\@click] {
    background: rgb(34, 51, 68);
    border: none;
    color: white;
}