.panel-titlebar-text {
  padding-top: 3px;
}

.dockspan-tab-handle-text {
  margin-top: 0;
}

/* dock-container dock-container-fill document-manager splitter-container-vertical */
.dock-container {
  z-index: 1;
}